<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Создать ссылку</a>
    <table>
        <tr>
            <td><p>Дата создания</p></td>
            <td><p>Исходная ссылка</p></td>
            <td><p>Короткая ссылка</p></td>
            <td><p>Кол-во переходов по ссылке</p></td>
        </tr>
        {% for item in items %}
        <tr>
            <td><p>{{ item["Date"] }}</p></td>
            <td><p>{{  item["Link"] }}</p></td>
            <td><p>{{  item["ShortLink"] }}</p></td>
            <td><p>{{  item["Kol"] }}</p></td>
        </tr>

        {% end %}
    </table>

</body>
</html>